<sb-hello [name]="name"></sb-hello>

<section class="tips">
  <h1>Guidelines you <strong>must</strong> follow</h1>

  <p>
    Use this StackBlitz to reproduce your issue in a clear and simple way so we
    can help you the best we can.
  </p>

  <p>
    Some people will refuse to help you if these are not respected, taking it as
    a lack of efforts on your side:
  </p>

  <ul>
    <li>
      Make it work (while still demonstrating your issue).
      <em>No one likes an example that doesn't work.</em>
    </li>
    <li>
      Make it <strong>as light as possible</strong>; Remove all unneeded code.
      No issue spans across many files of 400 lines of code each (true story).
      <em
        >Your files having more than 400 lines is an issue in itself anyway.</em
      >
    </li>
    <li>
      Comment your code, detail where the issue is visible, the expected
      behavior vs. what is happening.
    </li>
    <li>
      <strong>Don’t make assumptions or XY problems</strong> (e.g. “here is
      where it probably comes from”, “I want to do Y because of X”), just
      explain what actually does (not) happen when it should (not).
    </li>
  </ul>
  <a href="https://stackoverflow.com/help/mcve" rel="noopener noreferrer"
    >More info about Minimal, Complete, and Verifiable Examples</a
  >
</section>
